body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: #616161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
    margin: 100px auto;
    width: 360px;
    cursor: pointer;
    background: #fff;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    background: #fff;
}
h1 {
    background: #2980b9;
    margin: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: normal;
}
input {
    width: 100%;
    margin: 0;
    background: #f7f7f7;
    box-sizing: border-box;
    font-size: 16px;
    border: 3px solid rgba(0, 0, 0, 0);
    height: 40px;
    padding: 13px 13px 13px 20px;
}
li:nth-of-type(2n){
    background: #f7f7f7;
}
#plus {
    float: right;
}
.delete {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
li:hover .delete{
    width: 40px;
    opacity: 1;
}
input:focus{
	background: #fff;
	border: 3px solid #2980b9;
    outline: none;
}